.container {
  width: 150px;
  border: 1px solid grey;
  display: inline-flex; /* 1차원 정렬에 쓰인다. flex 나 inline-flex 옵션을 가진다. flex를 사용할 경우 flex가 없는 container들은 block 지정되어 각각 한 줄씩 배치된다. */
} /* 만약 container들을 다 한 줄 배치하고 싶은면 모든 container들을 inline-flex로 지정하는 방법이 있다? */

.container {
  display: flex;
  justify-content: flex-end; /* To position the items from left to right, we use a property called justify-content. */
}

/*  "no extra space" means that margins and borders will be respected, */
/* flex items above shrink proportionally when the flex container is too small */
/* 위에까지는 flex container를 다뤘지만 이제부턴 flex item들을 다룬다 */

.top.side {
    flex-grow: 1;
}
.top.center { /* 비슷한 비율로 side와 center가 늘어난다. */
    flex-grow: 1;
}
.middle.side { /* side는 점점 축소하고 center는 그만큼 늘어난다. */

}
.middle.center {
    flex-grow: 1;
}
.bottom.side { /* center가 약간 더 늘어나는 비율이 크다. */
    flex-grow: 1;
}
/* 각 grow값에 따른 도형 변화를 에버노트에서 확인하자 */

/* flex-shrink는 기본값이 1, flex-grow는 기본값이 0: 그래서 item들은 창이 축소될때 자동 축소된다. */
/* margin은 위 명령어에 영향 받지 않는다. */

/* flex-shrink는 값이 커질수록 축소 비율이 커진다. */

.top.side {
   flex-shrink: 2;
}
.top.center {
}
.middle.side {
    flex-shrink: 0;
}
.middle.center {
}
.bottom.side { /* side와 center 축소 비율이 다르다. */
}
.bottom.center {
  flex-shrink: 2;
}

/* flex-basis allows us to specify the width of an item before it stretches or shrinks. */
flex-basis: 240px; /* 창이 축소, 확대되기 전 기본 width 지정 */

flex: 2 1 200px; /* 이 모든 걸 flex 하나에 다 담을 수 있다 grow shrink basis 순 */

#wrap {
    flex-wrap: wrap; /* 가장 끝이 아래로 내려온다 */
}

#nowrap {
    flex-wrap: nowrap;
}
#reverse {
    flex-wrap: wrap-reverse;
}

#center {
    align-content: center;
}

#between {
    align-content: space-between;
}

#flexstart {
    align-items: flex-end;
}
#flexend {
    align-content: flex-start;
}
/* item은 기본꼴을 유지하며 옮기지만, content는 기본 간격을 무시하고 한쪽으로 다 옮긴다. */
-----------------------------------------------------------------------
#row {
    flex-direction: row;
}
#row-reverse {
    flex-direction: row-reverse;
}
#column {
    flex-direction: column;
}
#column-reverse {
    flex-direction: column-reverse;
}
/* item들이 가로나 세로로 정방향, 역방향으로 일렬로 나란하게 정렬된다. */

flex-flow: column wrap; /* 위의 flex-flow와 flex-direction 을 하나로 합쳤다. */
